{% for type, messages in app.flashes|default({}) %}
    {% for message in messages %}
        <div class="cc-alert cc-alert-{{ type }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
