<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CoreCart Admin{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{{ assets.css('admin-tokens.css') }}">
    <link rel="stylesheet" href="{{ assets.css('admin-base.css') }}">
    <link rel="stylesheet" href="{{ assets.css('admin-layout.css') }}">
    {% block head %}{% endblock %}
</head>
<body class="cc-admin-body">
    <div class="cc-admin-shell">
        {% include '@admin/common/sidebar.html.twig' %}
        <div class="cc-admin-main">
            {% include '@admin/common/topbar.html.twig' %}
            <div class="cc-admin-content">
                {% include '@admin/common/flash.html.twig' %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {% block javascript %}{% endblock %}
</body>
</html>
