parameters:
    level: 5
    paths:
        - system
        - admin
        - catalog
        - cart
        - account
        - checkout
    excludePaths:
        - vendor
        - storage
        - catalog/View
        - admin/View
    ignoreErrors:
